.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}


.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
  align-items: center;
  margin-top: 5px;
}

.formGroup label {
  font-weight: 400;
  font-size: 0.8rem;
}

.formGroup input, .react-datepicker__input-container input {
  padding: 5px;
  width: 10rem;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgb(214, 214, 214)
}

.formGroup input:focus {
  outline: none;
}

.formGroup-grey input {
  background-color: rgb(238, 238, 245);
}

.formGroup input[type='checkbox'] {
  width: auto;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
